<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="x" default="0.1" />
  <arg name="y" default="-0.1" />
  <arg name="z" default="0.5" />

  <arg name="robot_name" default="solo12dof_quadruped" />

  <include  file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
  </include>
  
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <param name="solo12dof_quadruped" command="$(find xacro)/xacro '$(find solo12dof_quadruped)/urdf/solo12dof_quadruped.urdf'" />

  <param name="robot_description" command="cat $(find solo12dof_quadruped)/urdf/solo12dof_quadruped.urdf"/>


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    </node>
   
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find solo12dof_quadruped)/urdf/solo12dof_quadruped.urdf -urdf -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)"
    output="screen" >
  </node>  
  
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

</launch>